<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title >Rubini</title>
</head>
<body>
  <div class="login">
    <form>
      <h1>{{title}}</h1>
      <h3>"Ingrese dos edades"</h3>
      Edad 1
      <input type="number" name="num1" placeholder="Edad 1" required="required" [(ngModel)]="edad1"/>
      Edad 2
      <input type="number" name="num2" placeholder="Edad 2" required="required" [(ngModel)]="edad2" />
      <button type="reset" class="btn btn-primary" value="Limpiar">Limpiar</button>
      <button type ="button" class="btn btn-primary"(click)=sumar()>Calcular</button>
      <br>
      Suma
      <input type="text" name="suma" placeholder="Suma" required="required" [(ngModel)]="suma"readonly/>
      Promedio
      <input type="text" name="Promedio" placeholder="Promedio" required="required" [(ngModel)]="promedio" readonly/>
    </form>
  </div>
</body>
</html>